@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    OUR VISION
    We are all unique. Fingopay wants to help everyone to realise the value of their identity. Our mission is to provide trusted, safe and easy identity-enabled transactions for all.

    Fingopay helps businesses provide fast, frictionless service and instantly reward great customers. It is a simple identity solution that enhances payment and loyalty.

    There’s no more remembering PINs and passwords, or fishing round in your wallet for a card. All you need is your finger.
</p>
<p>
    HOW VEIN ID&trade; WORKS
    We all have a unique vein pattern hidden in our fingers. Now this intricate biometric signature can be used to identify you and pay. There’s no need for cash, cards or mobile.

    Fingopay uses Hitachi VeinID technology. Harmless infrared light maps the pattern of your veins.

    Because they are inside the body and invisible from the outside, finger vein patterns are extremely hard to steal and do not change with age. It is an ideal biometric for secure authentication.
</p>

<p>
    SECURE MATCHING
    Your finger vein pattern is as unique as you are. With Fingopay you can use it to pay. It is an efficient, intelligent and secure way to handle transactions.

    The image of your vein pattern is converted into an encrypted template and matched to the one stored in our database. It confirms your identity in a matter of seconds.

    VeinID outperforms other biometrics, such as face recognition and fingerprint, by at least an order of magnitude. Which means that you – and you alone – have access to your funds.
</p>