@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    4 Riverview, Walnut Tree Close,<br />
    Guildford, GU1 4UX, <br />
    United Kingdom.<br />
    
    <abbr title="Phone">P:</abbr>
    +44 20 3189 1460
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@fingopay.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@fingopay.com">Marketing@example.com</a>
</address>
