@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<div>

    <p> About us</p>
    <p>
        Sthaler Limited (Sthaler) is a registered company in the United Kingdom, with company number 08161567, with its registered office at 4 Riverview, Walnut Tree Close, Guildford, GU1 4UX, United Kingdom.
    </p><p>
        Fingopay is a product of Sthaler.
    </p><p>
        Questions about the Fingopay Service, GDPR and your data privacy rights can be resolved by contacting our Data Protection Officer via:
    </p><p>
        the website at fingopay.com
        the help desk via phone on +44 20 3189 1460; or
        E‐mail to cbs@fingopay.com
    </p>
    <h3>
        PURPOSE OF THE POLICY
    </h3>
    <p>
        This Data Privacy Policy describes how we protect your privacy and how we use information about you when providing the Fingopay Service to you.

        At the core of our service is the belief that your data belongs to you and to you alone. We do not share your data with 3rd parties, we do not allow anyone else to use or access your data outside the purposes for delivering the Fingopay Service to you
    </p><p>
        Any data we are in possession of about you is protected and handled in accordance with:
    </p><p>
        The Data Protection Act 1998 (UK)
        EU General Data Protection Regulation
        Sthaler are committed to protecting and respecting your privacy. This Data Privacy Policy sets out how we both use and protect the personal information that you provide to us when you use the Fingopay Services.
    </p>
    <h3>WHAT INFORMATION WE COLLECT</h3>
    <p>
        To provide the Fingopay Service we will need to collect information from you for the purposes of registration, enrolment and continued use of the services. This data collection is required in order for the service to be provided to you under the terms of this Contract. The mandatory data collected is:
    </p>
    <ul>
        <li>First name</li>
        <li>Last name</li>
        <li>Mobile number</li>
        <li>E-mail address</li>
        <li>Password</li>
        <li>Payment card number (only the last four numbers are kept)</li>
        <li>Payment card expiry date</li>
        <li>Receipts of purchases made through Fingopay</li>
        <li>Your finger vein template</li>
    </ul>

    <h3>WHAT WE DO WITH THE INFORMATION WE COLLECT</h3>
    <p>
        We collect information from you to provide the Fingopay Service you have requested, and in particular:
    </p>
    <p>
        To provide a requested service or carry out a contract with you.

    <p>To register you as a user of the Fingopay services
    <p>To verify your identity to authorise payment by the Payment Service Provider
    <p>To provide you with service messages, including messages notifying you about changes to Fingopay services or changes to our terms, conditions and policies
    <p>To confirm your identity with your finger vein ID and facilitate you making a payment
    <p>
        If we have your consent.
        <ul>


            <li>
                To contact you (including by email or SMS) with marketing messages according to your marketing preferences
            </li>
            <li>
                Where we have a legitimate interest to improve customer experience and the quality of the Fingopay services.

            </li>
            <li>
                To help us respond to your Technical or Service queries
            </li>
            <li>
                To aggregate anonymised data to produce market trend information
            </li>
            <li>
                To enable us to contact you by means such as SMS, E-Mail
            </li>
            <li>
                Where we have a legal obligation.
            </li>
            <li>
                To comply with our legal and regulatory obligations (including fraud prevention, anti-money laundering and sanction screening). This may include checking the information you provide to us against information from other sources
            </li>
        </ul>
    </p>        <h2>HOW LONG WE RETAIN YOUR PERSONAL INFORMATION</h2>
    <p>
        We only retain your information for as long as is necessary for us to use your information to provide you with the Fingopay Services as described above or to comply with our legal obligations.
    </p>
    <p>
        You may delete your Fingopay account at any time by using the “delete” button in your Fingopay account. If you cease to be a Fingopay user we will generally delete personal information we hold on you within 120 days from the date of termination. However, please be advised that we may retain some of your information after you cease to be a Fingopay user or use the Fingopay Services, for instance if this is necessary to meet our legal obligations such as retaining the information for regulatory purposes.
    </p>
    <p>
        Your information will be encrypted and stored in accordance with legal requirements for a period of 7 years for audit purposes. After 7 years the data is permanently removed from our systems.
    </p>
    <p>
        When determining the relevant retention periods, we will take into account factors including:
    </p>
    <p>Our contractual obligations and rights in relation to the information involved</p>
    <p>Legal obligation(s) under applicable law to retain data for a certain period of time</p>
    <p>
        Statute of limitations under applicable law(s)
        (Potential) disputes
        Guidelines issued by relevant data protection authorities
        Otherwise, we securely erase your information once this is no longer needed.

        <h3> WHO WE SHARE INFORMATION WITH</h3>
    <p>
        The data you provide to us will not be disclosed to organisations other than to the suppliers that we work with to deliver the service to you.
    </p>
    <p>
        We may disclose your personal data where we have your permission or where we are under a duty to share your personal information in order to comply with any legal obligations.
    </p>
    <h3>
        HOW YOU CAN ACCESS OR AMEND THE INFORMATION WE HOLD ABOUT YOU
    </h3>
    <p>
        You may request details of personal information we hold about you in accordance with the Data Protection Act (1998) and EU General Data Protection Regulation. To do so, or if you think the information we hold about you is incomplete or incorrect or you wish to have your account deleted, please contact our Data Protection Officer at:
    </p>
    <p>
        Sthaler Limited, International House, 1 St Katharine’s Way, London E1W 1UN
        Telephone: +44 (0) 203 189 1460

        E-mail: cbs@fingopay.com
        Web: www.fingopay.com
    </p>
    <p>
        If the information we hold about you is inaccurate, you can also access and update it at any time by logging on to your Fingopay account and updating your details.
    </p>
    <p>
        Furthermore, under the EU General Data Protection Regulation, you have the following rights;
    </p><ul>

        <li> The right to be informed</li>
        <li> The right of access</li>
        <li> The right to rectification</li>
        <li> The right to erasure</li>
        <li> The right to restrict processing</li>
        <li> The right to data portability</li>
        <li> The right to object</li>
        <li> Rights in relation to automated decision making and profiling*</li>
        <li> The right to lodge a complaint with a supervisory authority (The UK ICO is an example, the Danish Supervisory Authority is another)</li>
        <li> * We only collect information necessary to supply Fingopay services. We do not use your data for profiling.</li>
    </ul>

    <h3>HOW WE PROTECT YOUR DATA</h3>
    <p>We operate under an extensive security policy framework to ensure that all reasonable efforts are made to ensure that all data (including personal information) collected by the service is made available to you, remains confidential, and is protected from disclosure or unauthorised amendment.

    <p>
        Where we send data to third parties to help us provide the service to you, we will provide those 3rd parties with only the information they need to deliver the service. Those 3rd parties are prohibited from using this information for any other purpose than stated in this Data Privacy Policy and are contractually obligated to maintain and manage data in accordance with our Terms and Conditions.
    </p>
    <h3>HOW WE USE COOKIES</h3>
    <p>We use cookies to help us deliver an effective online service. Cookies are files that store information on your hard drive or your browser. These cookies mean that the Website can recognise that you have previously visited the Website. This allows you to maintain your preferences on the Website and for us to measure the usability of the Website.</p>

    <p>You can, should you wish, disable the cookies from your browser and delete all the cookies currently stored on your computer. However, by deleting the cookies you may find you are prevented from taking full advantage of the Website.</p>

    <p>You can find out how to delete cookies for your browser by clicking ‘help’ on your browser’s menu. For further information on how to do this, visit www.aboutcookies.org or www.allaboutcookies.org.</p>
    <p>We use only session cookies to help identify your computer so we can improve the website’s usability, analyse the use of the website, prevent fraud and improve the security of the website.

    <p>
        We use Google Analytics with anonymous IP to analyse and create reports about the use of our website, this processing does not identify you as an individual. We do not profile our users. We don’t use third party cookies for any commercial purposes.
    </p>
    <h3>HOW TO CONTACT US</h3>
    <p>
        If you have any questions regarding this Data Privacy Policy or would like any further information regarding how your information is used or shared please contact our Data Protection Officer at:

        Sthaler Ltd (Fingopay), International House, 1 St Katharine’s Way, London E1W 1UN
        Telephone: +44 (0) 203 189 1460

        E-mail: cbs@fingopay.com
        Web: www.fingopay.com
    </p>

    <h3>CHANGES TO THIS DATA PRIVACY POLICY</h3>
    <p>Our Data Privacy Policy may require updates from time to time. Any changes we may make to our Data Privacy Policy in the future will be published on our website www.fingopay.com. In addition, registered users will receive an email to inform them of changes.</p>

    <p>
        In the event that you are not in agreement with any modified or revised Fingopay Data Privacy Policy updates, then you are able to withdraw from using the service via your Fingopay account. In your account you have the possibility to delete your account.
    </p>
</div>
