@page
@model TransactionsModel
@{
    ViewData["Title"] = "Transaction History";
}
<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-4">
        <p>Options:</p>
        <p><a href="">View Monthly Transactions </a></p>
        <p><a href="">Print an E-Receipt / Invoice</a></p>
        <p>Something not right? <a href="">Contact us about a transaction</a></p>

    </div>

    <div class="col-md-8">

        <img src="~/images/cards/Transactions-Report-1.png" class="clearfix" style="width: 100% !important" />
    </div>
</div>